# Dépendances
node_modules/
vendor/

# Environnement
.env
.env.local
.env.*.local
!.env.example

# IDE
.idea/
.vscode/

.repomixignore
repomix-output.xml

# DEV tools
*.diff
*.log

docker/webhook/hooks.json
